<div class="row">
    <div class="form-group">
        <label for="question-text">Answer this question:</label>
        <span class="" name="" id="question-text">{{justReceivedQuestion.text}}</span>
    </div>
</div>
<div class="row">
    <br />
    <div class="form-group" *ngFor="let option of justReceivedQuestion.options; index as i">
        <div class="radio">
            <label><input type="radio" name="optradio" (change)="selectionChanged($event)" [value]="i">{{option}}</label>
        </div>
    </div>

</div>
<div class="row">
    <button type="button" class="btn btn-primary btn-sm" (click)="submitAnswer()">Submit</button>
</div>